<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>tRackIT CSV Upload</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed; margin: 10%; min-height: 400px;') }}
</head>

<body>
    <h1>tRackIT CSV Upload</h1>

    <div>
        Uploaded files will be imported to the influx database according to their filename:
    </div>
    <code>
        [organization-area-station]_[timestamp].csv <br>  
        [organization-area-station]_[timestamp]-matched.csv
    </code>

    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    <!-- {{ dropzone.config(custom_options="success: function(file, response){console.log(response);}") }} -->
</body>

</html>
